@import url('https://fonts.googleapis.com/css?family=Ubuntu');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu' , sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url('img/image.jpg') no-repeat center center/cover;
    position: absolute;
    top: -30;
    left: -30;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    font-size:50px;
    color: #fff;
}